@(products: List[Product])

@main("Sougou") {
    <div class="container">
    @for(product <- products) {
        <div class="row">
            <div class="col-sm-3">
                <a href="@routes.HomeController.product(product.id)">
                    <br/>
                    <img class="img-responsive" src="@product.presentationImage" data-alt="" data-title="">
                </a>
                <br>

            </div>
            <div class="col-sm-9">
                <h2><a class="url" href="@routes.HomeController.product(product.id)"> @product.title</a></h2>
            </div>
        </div>
        <hr>
        }
    </div>
}