@import helper._

@(form: Form[Product])

@main("Nouveau produit") {
  <div class="container">
    <form action="@routes.HomeController.createProduct()" method="post">
      @inputText(form("title"))
      <br/>
      @inputText(form("presentationImage"))
      <br/>
      <button class="btn btn-primary">Créer</button>
    </form>
  </div>
}